# Database
DATABASE_URL="postgresql://postgres:1937@localhost:5432/marquei?schema=public"

# JWT Secret
JWT_SECRET="marquei-super-secret-key-change-in-production"

# Redis
REDIS_HOST="localhost"
REDIS_PORT="6379"
# REDIS_PASSWORD=""  # Descomente se seu Redis tiver senha